In [ ]:
# Assignment

In [ ]:
# 1. Write a program to convert specified days into years, weeks and days. Take user input. Note: Ignore leap year

In [9]:
  def convert_days(days):
    years = days // 365
    remaining_days = days % 365
    weeks = remaining_days // 7
    days_left = remaining_days % 7
    return years, weeks, days_left

In [5]:
# Input the number of days from the user
total_days = int(input("Enter the number of days: "))

Enter the number of days:  2

In [10]:
years, weeks, days = convert_days(total_days)

In [14]:
print("{total_days} days is equal to {years} years, {weeks} weeks, and {days}")

{total_days} days is equal to {years} years, {weeks} weeks, and {days}

In [ ]:
# 2. Write a Python program to input basiPython salary of an employee and
calculate its Gross salary according to following:
Basic Salary <= 10000 : HRA = 20%, DA = 80%

Basic Salary <= 20000 : HRA = 30%, DA = 90%
Basic Salary > 20000 : HRA = 35%, DA = 95

In [16]:
 def calculate_gross_salary(basic_salary):
    if basic_salary <= 10000:
        hra = 0.2 * basic_salary
        da = 0.8 * basic_salary
    elif basic_salary <= 20000:
        hra = 0.3 * basic_salary
        da = 0.9 * basic_salary
    else:
        hra = 0.35 * basic_salary
        da = 0.95 * basic_salary
    
    gross_salary = basic_salary + hra + da
    return gross_salary

basic_salary = float(input("Enter the basic salary of the employee: "))
gross_salary = calculate_gross_salary(basic_salary)
print("Gross Salary:", gross_salary)

Enter the basic salary of the employee:  50000

Gross Salary: 115000.0

In [ ]:
# 3. Write a Python program to input electricity unit charges and calculate total
electricity bill according to the given condition:
For first 50 units Rs. 0.50/unit
For next 100 units Rs. 0.75/unit
For next 100 units Rs. 1.25/unit
For unit above 250 Rs. 1.50/unit
An additional surcharge of 17% is added to the bill

In [134]:
 def calculate_electricity_bill(units):
    if units <= 50:
        bill = units * 0.50
    elif units <= 150:
        bill = (50 * 0.50) + ((units - 50) * 0.75)
    elif units <= 250:
        bill = (50 * 0.50) + (100 * 0.75) + ((units - 150) * 1.25)
    else:
        bill = (50 * 0.50) + (100 * 0.75) + (100 * 1.25) + ((units - 250) * 1.50)
    
    # Add the surcharge of 17%
    surcharge = bill * 0.17
    total_bill = bill + surcharge
    
    return total_bill

In [135]:
# Input electricity units from the user
units = float(input("Enter the number of electricity units consumed: "))
total_bill = calculate_electricity_bill(units)

print(f"The total electricity bill is: Rs. {total_bill:.2f}")

Enter the number of electricity units consumed:  5000

The total electricity bill is: Rs. 8599.50

In [ ]:
# 4. Write a Python program to print the given number patterns.
1
2 2
3 3 3
4 4 4 4
5 5 5 5

In [26]:
def print_number_pattern(n):
 for i in range(1, n + 1):
  print(" ".join([str(i)] * i))

In [27]:
# Set the number of rows for the pattern
number_of_rows = 5
print_number_pattern(number_of_rows)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# 5. Write a Python program to calculate product of digits of a number. Read
value of n from user.

In [35]:
 def product_of_digits(n):
    product = 1
    while n > 0:
        digit = n % 10
        product *= digit
        n //= 10
    return product

In [36]:
# Input a number from the user
number = int(input("Enter a number: "))
result = product_of_digits(number)

Enter a number:  50

In [37]:
print("The product of the digits of {number} is: {result}")

The product of the digits of {number} is: {result}

In [ ]:
# 6. Create a list of elements like: x = [45, 67, 12, ‘Hello’, 23.45, ‘World’] and perform following operations

In [41]:
 # Initial list
x = [45, 67, 12, 'Hello', 23.45, 'world']

In [42]:
# 1. Extract only string values from this list. 
string_values = [element for element in x if isinstance(element, str)]
print("String values:", string_values)

String values: ['Hello', 'world']

In [43]:
# 2. Create a new list with strings in upper case.
uppercase_strings = [element.upper() for element in string_values]
print("Uppercase strings:", uppercase_strings)

Uppercase strings: ['HELLO', 'WORLD']

In [44]:
# 3. Find the addition of integer values.
integer_values = [element for element in x if isinstance(element, int)]
sum_of_integers = sum(integer_values)
print("Sum of integer values:", sum_of_integers)

Sum of integer values: 124

In [45]:
# 4. Check that the value 56 is present in it or not.
is_56_present = 56 in x
print("Is 56 present in the list?", is_56_present)

Is 56 present in the list? False

In [46]:
# 5. Print the list in reverse order. 
reversed_list = x[::-1]
print("Reversed list:", reversed_list)

Reversed list: ['world', 23.45, 'Hello', 12, 67, 45]

In [49]:
# 6. Delete the string ‘Hello’ from it.
if 'Hello' in x:
    x.remove('Hello')
print("List after removing 'Hello':", x)

List after removing 'Hello': [45, 67, 12, 23.45, 'world']

In [50]:
# 7. Insert a new value of 36 at 5th position in list.
x.insert(4, 36)
print("List after inserting 36 at 5th position:", x)

List after inserting 36 at 5th position: [45, 67, 12, 23.45, 36, 'world']

In [51]:
# 8. Count total number of elements in list now.
count_elements = len(x)
print("Total number of elements in list now:", count_elements)

Total number of elements in list now: 6

In [52]:
# 9. Extract the values from 2nd index to 5th index. 
extracted_values = x[2:6]
print("Values from 2nd to 5th index:", extracted_values)

Values from 2nd to 5th index: [12, 23.45, 36, 'world']

In [53]:
# 10. Append [34, ‘Pune’] to this list.
x.extend([34, 'Pune'])
print("List after appending [34, 'Pune']:", x)

List after appending [34, 'Pune']: [45, 67, 12, 23.45, 36, 'world', 34, 'Pune']

In [54]:
# 11. Delete the last element from list.
x.pop()
print("List after deleting the last element:", x)

List after deleting the last element: [45, 67, 12, 23.45, 36, 'world', 34]

In [ ]:
# 7. Create a tuple of elements with 5 float values in it and perform following
operations.
1. Print the data in sorted manner.
2. Check to see that the element 50 is present in it.
3. Convert this tuple in s

In [55]:
# Create a tuple with 5 float values
float_tuple = (12.5, 45.7, 8.3, 26.4, 17.9)

In [56]:
# 1. Print the data in sorted manner.
sorted_tuple = tuple(sorted(float_tuple))
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (8.3, 12.5, 17.9, 26.4, 45.7)

In [58]:
# 2. Check to see that the element 50 is present in it.
is_50_present = 50 in float_tuple
print("Is 50 present in the tuple?", is_50_present)

Is 50 present in the tuple? False

In [59]:
# 3. Convert this tuple into a set. 
float_set = set(float_tuple)
print("Tuple converted to set:", float_set)

Tuple converted to set: {8.3, 12.5, 45.7, 17.9, 26.4}

In [ ]:
# 8. Create a dictionary of elements: {‘a’: ‘apple’, ‘b’: ‘ball’, ‘c’: ‘cat’, ‘d’: ‘doll’, ‘k’:
‘king’} and perform following operations.
1. Access the data at key ‘k’.
2. Add a new values ‘z’: ‘zebra’ 
3. Replace the contents of ‘d’ as ‘dog’
4. Print all the values from this dictionary.
5. Find the length of this dictio

In [63]:
 # Create the dictionary
dictionary = {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}

In [65]:
# 1. Access the data at key ‘k’.
value_at_k = dictionary['k']
print("Value at key 'k':", value_at_k)

Value at key 'k': king

In [66]:
# 2. Add a new value ‘z’: ‘zebra’
dictionary['z'] = 'zebra' 
print("Dictionary after adding 'z': 'zebra':", dictionary)

Dictionary after adding 'z': 'zebra': {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'zebra'}

In [67]:
# 3. Replace the contents of ‘d’ with ‘dog’
dictionary['d'] = 'dog'
print("Dictionary after replacing 'd' with 'dog':", dictionary)

Dictionary after replacing 'd' with 'dog': {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}

In [68]:
# 4. Print all the values from this dictionary. 
all_values = dictionary.values()
print("All values in the dictionary:", list(all_values))

All values in the dictionary: ['apple', 'ball', 'cat', 'dog', 'king', 'zebra']

In [69]:
# 5. Find the length of this dictionary.
length_of_dictionary = len(dictionary)
print("Length of the dictionary:", length_of_dictionary)

Length of the dictionary: 6

In [ ]:
# 9. Write a program to find the second largest element in a list

In [132]:
 def find_second_largest(lst):
    if len(lst) < 2:
        return None
    
    # Remove duplicates by converting to a set, then back to a list
    unique_lst = list(set(lst))
    
    if len(unique_lst) < 2:
        return None
    
    unique_lst.sort()
    return unique_lst[-2]

In [133]:
# Example list
example_list = [45, 67, 12, 67, 23, 45, 89, 90, 23]

second_largest = find_second_largest(example_list)
if second_largest is not None:
    print(f"The second largest element is: {second_largest}")
else:
    print("The list does not have a second largest element.")

The second largest element is: 89

In [ ]:
# 10.This is a list of some metallic elements. metals = [ 'silver','gold', ... ]
Make a new list that is almost identical to the metals list: the new contains the same
items,in the same order, except that it does NOT Write a program to find the second
largest element in a list.contain the item 'copper'

In [83]:
 # Initial list of metals
metals = ['silver', 'gold', 'iron', 'copper', 'platinum']

In [84]:
# Create a new list excluding 'copper' 
new_metals = [metal for metal in metals if metal != 'copper']

In [85]:
print("Original metals list:", metals)
print("New metals list without 'copper':", new_metals)

Original metals list: ['silver', 'gold', 'iron', 'copper', 'platinum']
New metals list without 'copper': ['silver', 'gold', 'iron', 'platinum']