In [2]:
# printing a name 15 times

count = 1

while count <= 15:
    print('Nandani', end = ' ')
    count = count + 1

Nandani Nandani Nandani Nandani Nandani Nandani Nandani Nandani Nandani Nandani Nandani Nandani Nandani Nandani Nandani

In [3]:
print(count)

16

In [4]:
# print numbers from 1 to 5

count = 1

while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [5]:
# print odd numbers from 1 to 20

count = 1

while count <= 20:
    print(count)
    count += 2

1
3
5
7
9
11
13
15
17
19

In [6]:
# find the addition of all numbers from 1 to 10

count = 1
add = 0

while count <= 10:
    add = add + count
    count += 1
    
print('Addition is:', add)

Addition is: 55

In [7]:

# find addition of all the odd numbers from 1 to 20

count = 1
add = 0

while count <= 20:
    add = add + count
    count += 2
    
print('Addition is:', add)

Addition is: 100

In [8]:
# factorial => 5! => 5 * 4 * 3 * 2 * 1 = 120

num = 1
fact = 1

while num <= 5:
    fact = fact * num
    num += 1
    
print('factorial is:', fact)

factorial is: 120

In [9]:
num = int(input('Enter the number '))

fact = 1

while num >= 1:
    fact = fact * num
    num -= 1
    
print('factorial is:', fact)

Enter the number  5

factorial is: 120

In [10]:
'''# infinite loop

count = 1

while count <= 15:
    print('A', end = ' ')
    
    ''';

In [11]:
'''while True:
    print('a')
    
    ''';

In [12]:
# else

count = 1
add = 0

while count <= 20:
    add = add + count
    count += 2
else:
    print('Addition is:', add)

Addition is: 100

In [13]:
# find the addition of all the digits of a number 
# ex... 12345 => 1 + 2 + 3 + 4 + 5 = 15

num = 12345

print(num % 10)
print(num // 10)

5
1234

In [14]:
num = int(input('Enter the number '))
add = 0

while num > 0:
    rem = num % 10
    add = add + rem
    num = num // 10
    
print('Addition of digits is:', add)

Enter the number  123545

Addition of digits is: 20

In [15]:
# For loop

In [16]:
for n in 34, 45, 21, 33, 57:
    print(n)

34
45
21
33
57

In [17]:
for n in 34, 45, 21, 33, 57:
    print(n/2)

17.0
22.5
10.5
16.5
28.5

In [18]:
for n in 34, 45, 21, 33, 57, 67.33, 'Adi', True:
    print(n)

34
45
21
33
57
67.33
Adi
True

In [19]:
# range function

In [20]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list(range(5, 16))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [22]:
list(range(5, 16, 3))

[5, 8, 11, 14]

In [23]:
# range(start, end + 1, step)

list(range(23, 1, -1))

[23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2]

In [24]:
for n in range(5):
    print(n)

0
1
2
3
4

In [25]:
for n in range(1, 6):
    print(n ** 2)

1
4
9
16
25

In [27]:
# print your name 10 times using for loop

for n in range(10):
    print('Nandani', end = ' ')

Nandani Nandani Nandani Nandani Nandani Nandani Nandani Nandani Nandani Nandani

In [28]:
# find the addition of 1 to 10 numbers

add = 0

for n in range(1, 11):
    add = add + n
    
print('Addition is', add)

Addition is 55

In [29]:
# find the addition of odd numbers from 1 to 20

add = 0

for n in range(1, 21, 2):
    add = add + n
    
print('Addition is', add)

Addition is 100

In [30]:
for n in 'Sanika':
    print(n)

S
a
n
i
k
a

In [32]:
for n in 'Anamika':
    print(n)

A
n
a
m
i
k
a

In [33]:
for n in 'Anamika', 'karan':
    print(n)

Anamika
karan

In [34]:
# factorial using for loop

num = int(input('Enter the number '))

fact = 1

for n in range(1, num + 1):
    fact = fact * n
    
print('Factorial is', fact)

Enter the number  5

Factorial is 120

In [35]:
# break statement

In [37]:
for n in range(1,11):
    if n == 5:
        break
    print(n)

1
2
3
4

In [38]:
count = 0

while count <= 10:
    print(count)
    if count == 5:
        break
    count += 1

0
1
2
3
4
5

In [39]:
# continue

In [40]:
for n in range(1,11):
    if n == 5:
        continue
    print(n)

1
2
3
4
6
7
8
9
10

In [41]:
'''
*
**
***

''';

In [42]:
list(range(3))

[0, 1, 2]

In [43]:
rows = int(input('Enter the number of rows'))

for i in range(1, rows + 1):
    for j in range(i):
        print('*', end = ' ')
    print()

Enter the number of rows 5

*
* *
* * *
* * * *
* * * * *