In [3]:
class Employee(): # creating the class
    pass

In [4]:
emp1 = Employee()  # creating an instance of a class
emp2 = Employee()

In [5]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x000001CA3B19EDD0>
<__main__.Employee object at 0x000001CA3B19EF50>

In [6]:
# instanace variables

emp1.first = 'Vishal'
emp1.last = 'Anamika'
emp1.salary = 51000

emp2.first = 'Nandani'
emp2.last = 'priyanka'
emp2.salary = 52000

In [7]:
print(emp1.first)

Vishal

In [8]:
print(emp2.salary)

52000

In [9]:
print(emp2.first)

Nandani

In [10]:
print(emp1.salary)

51000

In [ ]:
class Employee():
    
     def __init__ (self, first, last, salary): # init method
        self.first = first
        self.last = last
        self.salary = salary

     def show(self):
             print(self.first + ' ' + 'ok')

In [83]:
emp1 = Employee('sunita', 'waghmare', 48000)

In [84]:
print(emp1.first)

sunita

In [85]:
print(emp1.last)

waghmare

In [86]:
emp1.show()

sunita ok

In [87]:
print(emp1.salary)

48000

In [112]:
# Encapsulation

class Employee():
    
     def __init__ (self, first, last, salary): # init method
        self.first = first
        self.last = last
        self.__salary = salary  # private variable

     def show(self):
         print(self.__salary)

In [89]:
emp1 = Employee('raj', 'sharma', 20000)
emp2 = Employee('ajay', 'patil', 49000)

In [95]:
emp1.first

'raj'

In [94]:
emp1.last

'sharma'

In [96]:
emp1.salary

AttributeError: 'Employee' object has no attribute 'salary'

In [97]:
emp1.show()

20000

In [113]:
# Inheritance

class Emp2(Employee):
    pass

In [114]:
emp3 = Emp2('Anamika', 'waghmare', 55000)

In [115]:
emp3.show()

55000

In [140]:
'''create a class called person
attributes=> name, age, city,...(make use of default parameters also)
create a method which will show all the info of person

'''

class Person():
    
     def __init__ (self, n, a = 50): 
        self.name = n
        self.age = a

    
     def info(self):
         print('name', self.name)
         print('age', self.age)

In [141]:
Person = Person('karuna', 28)

In [144]:
print(Person.name)

karuna

In [145]:
print(Person.age)

28